/dts-v1/;

/include/ "dove.dtsi"

/ {
	model = "SolidRun CuBox";
	compatible = "solidrun,cubox", "marvell,dove";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8 earlyprintk";
	};

	leds {
		compatible = "gpio-leds";
		power {
			label = "Power";
			gpios = <&gpio0 18 1>;
			linux,default-trigger = "default-on";
		};
	};

	/* Dove frame buffer */
	dovefb {
		compatible = "marvell,dovefb";
		interrupts = <47>;
	};
};

&uart0 { status = "okay"; };
&sata0 { status = "okay"; };

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	/* si5351@60 from Sebastian Hesselbarth */
	si5351@60 {
		compatible = "silabs,si5351";
		reg = <0x60>;
	};

	tdacec@34 {
		compatible = "nxp,tda99Xcec";
		reg = <0x34>;
/*		interrupt-parent = <&gpio0>;
 *		interrupts = <27 2>;		 * shared interrupt */
	};
	tda@70 {
		compatible = "nxp,tda998X";	/* new: "nxp,tda998x" */
		reg = <0x70>;
		interrupt-parent = <&gpio0>;
		interrupts = <27 2>;		/* falling edge */
	};
};

&sdio0 {
	status = "okay";
	/* sdio0 card detect is connected to wrong pin on CuBox */
	cd-gpios = <&gpio0 12 1>;
};

&spi0 {
	status = "okay";

	/* spi0.0: 4M Flash Winbond W25Q32BV */
	spi-flash@0 {
		compatible = "st,w25q32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&pinctrl {
	pinctrl-0 = <&pmx_gpio_12 &pmx_gpio_18 &pmx_gpio_camera>;
	pinctrl-names = "default";

	pmx_gpio_12: pmx-gpio-12 {
		marvell,pins = "mpp12";
		marvell,function = "gpio";
	};

	pmx_gpio_18: pmx-gpio-18 {
		marvell,pins = "mpp18";
		marvell,function = "gpio";
	};

/* nxp HDMI irq on pin 27 */
	pmx_gpio_camera: pmx-gpio-camera {
		marvell,pins = "mpp_camera";
		marvell,function = "gpio";
	};
};
